<!-- <router-outlet [searchKeyword]="searchKeyword"> </router-outlet> -->
<!-- <app-orders ></app-orders> -->
<!-- Product Search Selector tags a -->

<router-outlet></router-outlet>

<!-- <div class="item-card mt-5 ml-5 p-0">
  <span class="product-offer">10% OFF</span>
  <img
    src="assets/svg/Wishlist.svg"
    alt="Wishlist"
    width="25px"
    height="25px"
    class="product-Wishlist"
  />
  <img
    src="assets/images/product-image_dslr.png"
    alt="watch-icon"
    class="product-img"
  />
  <div class="d-flex flex-column product-content">
    <div class="d-flex align-items-center justify-content-between pb-3">
      <span class="product-name">Hello WorldHello WorldHello World</span>
      <span> <img src="assets/svg/rating_latest.svg" alt="rating" /> </span>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <span class="product-currency">$ 500</span>
      <span class="add-cart">Add to cart</span>
    </div>
  </div>
</div> -->
