$bgcolor: lightblue;
$textcolor: #1a2038;
$fontsize: 18px;
$CS_BG_CLR: #0c8849;
$AHOLD_BG_CLR: #0563aa; 
$BASIC_CLR: #e25a69;
$White: #fff;
$Black: #000;

$theme_color: var(--theme-color);
$disabled_color: var(--disabled-theme-color)